<% provide(:title, @child.child_name) %>
<h1><%= @child.child_name %>の連絡帳</h1>

<!--園児詳細テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed" id="show-children">
    <tr>
      <td>
        <%= link_to "前日", '#', class: "btn btn-info-small" %>
        
  
  </table>
</div>