<% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | えんアプリ</title>
  </head>
  <body>
    <h1>連絡帳アプリ</h1>
    <h3>保育者・園児・保護者をつなぐ架け橋に</h3>
    <div class="top-login">
      <% if parent_logged_in? || teacher_logged_in? %>
        <button class="btn btn-light btn--circle"disabled>ログイン済み</button>
      <% else %>
        <%= link_to raw("園・保育者の方<br/>はコチラ"), teacher_login_path, class: "btn btn--orange btn--circle" %>
        <%= link_to raw("保護者の方<br/>はコチラ"), parent_login_path, class: "btn btn--yellow btn--circle" %>
      <% end %>
    </div>
  </body>
</html>