<% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | えんアプリ</title>
  </head>
  <div class="center jumbotron jumbotron-extend">
    <div class="container-fluid">
      <h1>連絡帳アプリ</h1>
        園・保育者の方は<%= link_to "こちら", teacher_login_path, class: "btn btn-md btn-primary" %><br>
        保護者の方は<%= link_to "こちら", parent_login_path, class: "btn btn-md btn-primary" %>
    </div>
  </div>
</html>