<% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | えんアプリ</title>
  </head>
  <body>
    <h1>連絡帳アプリ</h1>
    <h3>保育者・園児・保護者をつなぐ架け橋に</h3>
    <div class="top-login">
      <% if parent_logged_in? || teacher_logged_in? %>
        <button class="btn btn-light btn--circle"disabled>ログイン済み</button>
      <% else %>
        <%= link_to raw("園・保育者の方<br/>はコチラ"), teacher_login_path, class: "btn btn--orange btn--circle" %>
        <%= link_to raw("保護者の方<br/>はコチラ"), parent_login_path, class: "btn btn--yellow btn--circle" %>
      <% end %>
    </div>
    <%# <div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="@387fbsfl" data-count="true" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script> %>
    <div class="line-it-button">
      <a href="https://lin.ee/E8xcExQ"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="40" border="0"></a>
    </div><br>
    <h6>LINEで友達登録をすると、園からお知らせが届きます</h6>
  </body>
</html>