<% provide(:title, @parent.name) %>
<h1>園児情報</h1>

<!--園児登録ボタン-->
<div class="btn-parents-show">
  <%= link_to "園児情報追加", add_new_child_parent_children_path(@parent), remote: true, class: "btn btn-primary" %>
</div>

<!--子供情報テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <td>名前</td>
      <td>年齢</td>
      <td>誕生日</td>
      <td>性別</td>
      <td>クラス</td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>


<!--登園内容概要テーブル-->
<h1>登園情報一覧</h1>
<div>
  <table class="table table-bordered table-striped table-condensed parent-table">
    <tr>
      <td>登園月</td>
      <td>クラス</td>
      <td>園児名</td>
      <td>登園日数</td>
    </tr>

    <tr>
      <td>
        <%= link_to "⬅︎ ", '#', class: "btn btn-info-small" %>
        <%= link_to " ➡︎︎", '#', class: "btn btn-info-small" %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<!--登園内容一覧テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attcontents">
    <thead>
      <tr>
        <th rowspan="3"></th>
        <th rowspan="3"></th>
        <th rowspan="3"></th>
        <th colspan="8"></th>
        <th colspan="5"></th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th colspan="3"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th colspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>

<div id="add-new-child" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>