<% provide(:title, @parent.name) %>
<!--登園内容概要テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed parent-table">
    <tr>
      <td>登園月</td>
      <td>クラス</td>
      <td>園児名</td>
      <td>登園日数</td>
    </tr>

    <tr>
      <td>
        <%= link_to "⬅︎ ", '#', class: "btn btn-info-small" %>
        <%= link_to " ➡︎︎", '#', class: "btn btn-info-small" %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<!--登園内容一覧テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attcontents">
    <thead>
      <tr>
        <th rowspan="3"></th>
        <th rowspan="3"></th>
        <th rowspan="3"></th>
        <th colspan="8"></th>
        <th colspan="5"></th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th colspan="3"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th colspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>