/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* universal */

/* トップページ */

body {
  background-image: url('top.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top-login{
  text-align: center;
}

.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--yellow {
  color: #fff;
  background-color: #e6d900;
}

.btn--circle {
  border-radius: 50%;
  line-height: 45px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  padding: 18px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

.btn--circle:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e6d900;
  box-shadow: 0 2px 0 #e6d900;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar{
  background-color: rgba(255, 165, 25, 0.7);
  // background-color: #ffa500;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* debug */

.debug_dump {
  background-color: #e9ecef;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

/* 各種フォーム */
.form_control {
  width: 100%;
}

/* parentのshowページ */
.btn-parents-show {
  text-align: right;
}


/* ユーザー情報テーブル */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  background-color: rgba(255, 165, 25, 0.7);
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-manag-info {
  margin-top: 5px;
}

.btn-manag-info {
  margin: 15px 0;
  width: 30%;
}

.modal-title {
  width: 100%;
  text-align: center;
}

/* 園児一覧テーブル */
#index-children {
  // background-color: rgba(235, 126, 25, 0.5);
  background-color: rgba(255, 165, 25, 0.6);
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 園児連絡帳テーブル */
#show-children {
  th {
    background-color: rgba(235, 126, 25, 0.6);
    vertical-align: middle;
    text-align: center;
  }
  th.first{
  background-color: rgba(255, 165, 25, 0.6);
}
  td {
    background-color: rgba(235, 126, 25, 0.4);
    vertical-align: middle;
    text-align: center;
  }
  /* 連絡帳の入力済み項目 */
  td.entered_form {
    text-align: left;
  }
}

